<%- include('templates/head'); %>

  <div class="app-container">
      <form
      id="usersForm"
      action="/tests/myTests"
      method="POST"
      >
      <h2>Display My Tests</h2>
      <label for="username">Username ID</label>
      <input type="text" name="id" required />
      <input type="submit" value="SUBMIT" style="width: 70%;"/>
    </form>
  </div>
</body>
</html>