<%- include('templates/head'); %>

  <div class="app-container" style="gap: 4em">
    <div class="title">
      <h2 style="margin-bottom: 0; display: block;">VANTER's users page!</h1>
    </div>
    <div class="container" style="margin-top: -2em;">
        <a href="/login">LOG IN</a>
        <p>Don't have an account?</p>
        <a href="/register">REGISTER</a>
    </div>
  </div>
</body>
</html>