<%- include('templates/head'); %>

  <div class="app-container" style="gap: 0">
        <a href="/login">LOG IN</a>
        <p style="margin-top: 4em;">Don't have an account?</p>
        <a href="/register">REGISTER</a>
  </div>
</body>
</html>