<%- include('templates/head'); %>

  <div class="app-container">
    <div class="user-container">
      <p><span>Username</span> : <%= username %></p>
      <p><span>ID</span> : <%= id %></p>
    </div>
    <a href="/users" class="btn" style="margin-top: 3em !important"
      >GO TO PANEL</a
    >
  </div>
</body>
</html>