<%- include('templates/head'); %>

  <div class="app-container" style="gap: 4em">
    <div class="title">
      <h2 style="margin-bottom: 0; display: block;">Welcome to VANTER's users page! Hope it is of your liking.</h1>
    </div>
    <div class="container" style="margin-top: -2em;">
      <p>Activate your account!</p>
        <a href="/login">LOGIN</a>
    </div>
  </div>
</body>
</html>