<div class="menu-overlay">
  <button class="menu-btn close-btn">X</button>
  <ul class="overlay-list">
    <li class="overlay-list-link">
      <a class="overlay-anchor" href="/">HOME</a>
    </li>
    <li class="overlay-list-link">
      <a class="overlay-anchor" href="/register">REGISTER</a>
    </li>
    <li class="overlay-list-link">
      <a class="overlay-anchor" href="/login">LOGIN</a>
    </li>
    <li class="overlay-list-link">
      <a class="overlay-anchor" href="/users">USERS PANEL</a>
    </li>
  </ul>
</div>
