<nav>
  <a class="logo" href="/">Vanter S.R.L</a>
  <button class="menu-btn">☰</button>
  <ul class="menu-links-list">
    <li class="menu-link">
      <a class="menu-anchor" href="https://github.com/RayanEncarnacion"
        >PORTFOLIO</a
      >
    </li>
    <li class="menu-link"><a class="menu-anchor" href="/">HOME</a></li>
    <li class="menu-link">
      <a class="menu-anchor" href="/users">USERS PANEL</a>
    </li>
    <li class="menu-link">
      <a class="menu-anchor" href="/login">LOGIN</a>
    </li>
    <li class="menu-link">
      <a style="max-width: 80px !important" href="/register">JOIN US</a>
    </li>
  </ul>
</nav>
